.reviews__div {
  height: 45%;
  width: 80%;
  margin: 2% auto;
  padding-bottom: 5%;
}

.reviews__header {
  display: flex;
  flex-direction: row;
  padding: 0% 2%;
  color: white !important;
  padding-left: 0 !important;
}

.reviews__heading {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

hr {
  background: #0259eb;
  border: 2px solid #0259eb;
  border-radius: 16px;
  width: 3%;
  margin-left: 0;
  margin-top: -0.3%;
}

.reviews__viewall {
  margin-left: auto;
  font-family: Nunito;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-right: 1%;
}

.reviews__card {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews__card::-webkit-scrollbar {
  display: none !important;
}

@media only screen and (max-width: 987px) {
  .reviews__card {
    width: auto !important;
    padding: 0 5%;
    overflow-x: scroll !important;
  }
}
