.reviews__div {
  height: 45%;
  width: 80%;
  margin: 4% auto;
}

.reviews__header {
  display: flex;
  flex-direction: row;
  padding: 0% 2%;
  color: white !important;
  padding-left: 0 !important;
}

.reviews__heading {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

hr {
  background: #0259eb;
  border: 2px solid #0259eb;
  border-radius: 16px;
  width: 3%;
  margin-left: 0;
  margin-top: -0.3%;
}

.reviews__viewall {
  margin-left: auto;
  font-family: Nunito;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-right: 1%;
}

.reviews__carshow {
  margin-top: 2%;
  background: #0a0b1a;
  border: 2px solid #e5af56;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 2% 1%;
  color: white !important;
  box-shadow: 10px -10px #368c95, 10px -10px #317ad8;
}

.reviews__cardshow__header {
  display: flex;
}

.reviews__cardshow__image {
  width: max-content;
  margin-right: 5%;
}

.reviews__cardshow__heading {
  width: 80%;
}
.reviews__cardshow__name {
  font-family: Quattrocento;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.reviews__cardshow__heading > div {
  width: 100%;
}

.reviews__cardshow__address {
  display: flex;
  flex-direction: row;
  font-family: Nunito;
  font-style: normal;
  color: #E5C558;
  opacity: 0.7;
}

.reviews__cardshow__address > img,
.reviews__cardshow__address > p {
  width: max-content;
  height: 100%;
  margin-right: 3%;
}

.reviews__cardshow__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  opacity: 0.9;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
