.upcoming__div {
  height: 45%;
  width: 80%;
  margin: 0% auto;
}

.upcoming__header {
  display: flex;
  flex-direction: row;
  padding: 0% 2%;
  padding-left: 0 !important;
}

.upcoming__heading {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

hr {
  background: #0259eb;
  border: 2px solid #0259eb;
  border-radius: 16px;
  width: 3%;
  margin-left: 0;
  margin-top: -0.3%;
}

.upcoming__viewall {
  margin-left: auto;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #e5c558;
  cursor: pointer;
}

.upcoming__card {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upcoming__card::-webkit-scrollbar {
  display: none !important;
}

@media only screen and (max-width: 987px) {
  .upcoming__card {
    width: 100%;
    overflow-x: scroll !important;
  }
}
