.upcoming__div {
  height: 45%;
  width: 80%;
  margin: 0% auto;
}

.upcoming__header {
  display: flex;
  flex-direction: row;
  padding: 0% 2%;
}

.upcoming__heading {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

hr {
  background: #0259eb;
  border: 2px solid #0259eb;
  border-radius: 16px;
  width: 3%;
  margin-right: auto;
  margin-left: 2%;
  margin-top: -0.3%;
}

.upcoming__viewall {
  margin-left: auto;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #e5c558;
  cursor: pointer;
}

.upcoming__card {
  margin-top: 3%;
}

.upcoming__cardshow {
  background: #111229;
  border-radius: 8px;
  border-radius: 8px;
  box-shadow: 10px -10px #301a68, 10px -10px #234c97;
}

.upcoming__cardshow__title {
  background: #e5c558;
  border-radius: 1px;
  width: max-content;
  padding: 0 2%;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #682f26;
}

.upcoming__cardshow__name {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.text-muted {
  color: #0259eb !important;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.upcoming__card__footer {
  display: flex;
  flex-direction: row;
  color: #0259eb !important;
}

.upcoming__card__footer div {
  display: grid !important;
  place-items: center;
  margin-left: 8%;
}

.upcoming__card__ticket {
  margin-left: auto !important;
}
